/StructureFactory$Array.class
/StructureFactory$List.class
/StructureFactory$Matrix.class
/StructureFactory.class
/Array.class
/Matrix.class
/List.class
/ArrayBuilder.class
/MatrixBuilder.class
/ListBuilder.class
